<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
    <script src="../js/ajax.js" type="text/javascript" rel="script"></script>
    <script src="../js/auth.js" type="text/javascript" rel="script"></script>
    <script src="../js/requests.js" type="text/javascript" rel="script"></script>
</head>
<body>
   <img id="image">
    <script>setImage("image", "/Star Wars/01.jpg")</script>
</body>
</html>